@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}
:root{
  --bg: #1d1e22;
}
body {
  --bg: #1d1e22;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg);
}
.title_container{
  width: 100vw;
  height: 500px;
}
.container {
  width: 100vw;
  height: 500px;
  max-width: 600px;
  background-color: gray;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 5px;
}
body.over .container {
  cursor: no-drop;
}
body.over .container .item {
  pointer-events: none;
}
.item {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}
.playerTitle {
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
  
}
.player {
  background-image: url(1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.computer {
  background-image: url(2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.restart {
  cursor: pointer;
  padding: 20px 50px;
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
body.over .restart{
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
